<main class="container-not-found">
  <h1 class="header header--white header__primary--large">404</h1>
  <h2 class="header header--white header__secondary--large">OOPS! Houston, we have a problem.</h2>
  <img class="moon__img" src="/assets/moon.png" alt="moon"/>
  <ul class="social">
      <li class="social__item"><a class="social__item__link" href="https://github.com/brunohafonso" target="_blank"><img class="social__item__link__icon" src="assets/github.svg"/></a></li>
      <li class="social__item"><a class="social__item__link" href="https://www.linkedin.com/in/brunohafonso/" target="_blank"><img class="social__item__link__icon" src="assets/linkedin-sign.svg"/></a></li>
      <li class="social__item"><a class="social__item__link" href="https://www.facebook.com/brunohafonso" target="_blank"><img class="social__item__link__icon" src="assets/facebook-logo.svg"/></a></li>
  </ul>
  <a class="button-home" [routerLink]="['']">Voltar para a página principal</a> 
</main>
