<div class="project-container">
  <nav class="menu">
      <div class="menu__back-button">
          <a class="menu__back-button__link" [routerLink]="['']"><fa-icon [icon]="faArrowCircleLeft"></fa-icon> Voltar para a página principal</a>
      </div>
  </nav>
  <main class="main-content">
      <div class="container">
          <h1 class="header header__secondary--large">Fipe Table</h1>
          <div class="header__divisor header__divisor--grey header__divisor--small" style="margin-bottom: 10px;"></div> 
          <p class="project-descripition">
              Página Para consulta do preço médio de veicuos automotivos de pequeno porte com base no índice da tabela Fipe na data da consulta, podendo
              informar, marca, modelo e ano e tipo de combustível do veículo que deseja consultar. <a href="http://brunohafonso.com.br/fipe/" target="_blank"><strong>Visitar página.</strong></a>
          </p>
          <img class="banner" src="assets/banner-fipe.png"/>
          <div class="row details">
            <div class="col-md-6 col-sm-12 details__grid">
              <h3 class="details__header">
                Envolvidos
              </h3>
              <div class="container-members">
                <a class="container-members__link" href="https://www.linkedin.com/in/brunohafonso/" target="_blank">Bruno Afonso</a>,
  
              </div>
            </div>
            <div class="col-md-6 col-sm-12 details__grid">
              <h3 class="details__header">
                Técnologias Utilizadas
              </h3>
              <div class="container-tecnologias">
                <p class="container-tecnologias__tecnologia">Html, Css, Javascript, TypeScript, Angular 5, Bootstrap, Font Awesome</p>
              </div>
            </div>
          </div>
      </div>
  </main> 
</div>
