/* inicio pré home */

.prehome {
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100%;
    height: auto;
    background-image: url("../../assets/background-prehome.png");
    position: relative;
    overflow: hidden;
  }
  
  /* inicio animações  */
  
  .prehome__animation-item {
    position: absolute;
    font-size: 1.6em;
    color: #fff;
    left: 500px;
    top: 50px;
    width: 1px;
    height: 30px;
    animation-name: moveSpaceship;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  .prehome__animation-item::before {
    display: table-cell;
    vertical-align: middle;
    position: absolute;
    content: "";
    width: 100px;
    right: 0px;
    top: 8.5px;
    height: 5px;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 118, 163, 0.7) 100%
    );
  }
  
  .animation-item-1 {
    animation-duration: 10s;
  }
  
  .animation-item-2 {
    animation-duration: 5s;
    top: 60%;
  }
  
  .animation-item-3 {
    animation-duration: 20s;
    top: 80%;
  }
  
  .animation-item-4 {
    animation-duration: 15s;
    top: 20%;
  }
  
  .animation-item-5 {
    animation-duration: 7s;
    top: 40%;
  }
  
  .animation-item-6 {
    animation-duration: 25s;
    top: 50%;
  }
  
  @keyframes moveSpaceship {
    from {
      left: -100px;
    }
    to {
      left: calc(100% + 100px);
    }
  }
  
  /* fim animações */

  /* fim pre home */

  /* inicio menu */

.barra-menu {
    position: absolute;  
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0px;
    height: 65px;
    line-height: 61px;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  
  .menu-container {
    text-align: center;
  }
  
  .menu-container__logo {
    display: inline-block;
  }
  
  .menu-container__logo__link {
    color: #fff;
    background: #47525e;
    display: block;
    height: 30px;
    padding: 0.1em 0.5em;
    border-radius: 4px;
    font-size: 2em;
    line-height: 25px;
  }
  
  .menu-container__botao {
    font-size: 2.5em;
    display: none;
    color: #47525e;
  }
  
  .menu-container__botao .fa {
    cursor: pointer;
    text-align: center;
  }
  
  .visivel {
    display: inline-block !important;
  }
  
  .fixed {
    position: fixed !important;
    top: 0 !important;
    z-index: 999;
  }
  
  .menu-container__menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  
  .menu-container__menu__item {
    margin: 0;
    display: inline-block;
  }
  
  .menu-container__menu__item__link {
    color: #47525e;
    text-decoration: none;
    display: block;
    padding: 0rem 1rem;
    font-size: 1.6em;
  }
  
  .menu-container__menu__item__link:hover {
    color: #000;
  }
  
  /* fim menu */

  /* inicio controles  */

  .controls {
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 1em;
    right: 1em;
    text-align: right;
    z-index: 1000;
  }

  .controls li {
    margin: 15px 0;
    padding: 0; 
  }

  .controls li p {
    display: inline-block;
    font-size: 1.2em;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 2px #888;
    padding: 5px;
  }

  .controls li.cv p {
    background: rgba(0, 118, 163, 0.7);
  }

  .controls li.contato p {
    background: rgba(0, 118, 163, 1.0);
  }

  .controls li.contato p {
    background: #5f328f;
  }

  .controls li span {
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    background: #47525e;
    color: #fff;
    display: inline-block;
    font-size: 1.8em;
    padding: 0.6em 0.9em;
    cursor: pointer;
  }

  .controls li.cv span {
    padding: 0.6em 1em !important;
  }

  .controls li.cv span a {
    color: #fff;
  }

  /* fim controles */

  /* inicio seção sobre */

.sobre-container {
    width: 100%;
    padding-bottom: 35px;
    overflow: auto;
  }
  
  .sobre-container__descricao-container {
    background-color: rgba(229, 233, 242, 0.5);
    padding: 20px 0px;
    text-align: center;
  }
  
  .sobre-container__descricao-container__title {
    margin: auto;
    font-weight: bold;
  }
  
  .sobre-container__descricao-container__avatar {
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 35px auto;
    width: 132px;
  }
  
  .sobre-container__descricao-container__saudacao {
    margin: auto;
    color: #47525e;
  }
  
  .sobre-container__descricao-container__bio {
    font-size: 1.8em;
    width: 90%;
    max-width: 1150px;
    margin: 10px auto;
    text-align: left;
    color: #5a6978;
  }
  
  .sobre-container__preferencias-container__bloco {
    float: left;
    width: 50%;
    text-align: center;
    padding: 15px 0;
  }
  
  .sobre-container__preferencias-container__bloco__icon {
    width: 32px;
    display: inline-block;
  }
  
  .sobre-container__preferencias-container__bloco__title {
    display: inline-block;
    color: #47525e;
    letter-spacing: 10px;
    vertical-align: middle;
  }
  
  .sobre-container__preferencias-container__bloco__lista {
    list-style-type: circle;
    list-style-position: inside;
    margin: auto;
    font-size: 1.8em;
    color: #5a6978;
    text-align: left;
  }
  
  /* fim seção sobre */ 

/* inicio seção skills */

.skills-container {
  width: 100%;
  height: auto;
  background: linear-gradient(to bottom, #5f328f, #089f98);
  padding: 30px 0 45px 0px;
  overflow: auto;
  min-height: 100%;
}

.skills-container__header {
  font-weight: bold;
}

.skills-container__labels-container {
  width: 85%;
  height: 450px;
  margin: 20px auto 0px auto;
  text-align: center;
}

.skill {
  width: 100%;
  margin: 25px auto;
  position: relative;
}

.icon {
  width: 1em;
  color: #fff;
  font-size: 3em;
  float: left;
  vertical-align: top;
}

.description {
  float: left;
  width: 100%;
  max-width: calc(100% - 40px);
  vertical-align: top;
  margin-left: 8px;
}

.description h3 {
  color: #fff;
  margin: 0;
  padding: 0;
}

.description p {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  color: #fff;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* fim seção skills */

/* inicio secao portifolio */

.portifolio-container {
  background: rgba(229, 233, 242, 0.5);
  min-height: 100%;
  padding: 20px 0 35px 0;
}

.card__portifolio {  
  background: #fff;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  padding: 20px 0;
  width: 100%;
  overflow: auto;
}

.card__round-img {
  display: inline-block;
  width: 50px;
  margin: 0 1em 0 2em;
  height: 51px;
  background-image: url('../../assets/logo-bikemobi.png');
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 2px #888;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  vertical-align: top;
}

.card__title {
  display: inline-block;
  width: 150px;
  height: 50px;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

.card__image {
  margin: 10px 0  0 0;
  width: 100%;
}

.card__description {
  margin: 10px auto auto auto;
  width: 95%;
  font-size: 1.5em;
}

.card__link {
  color: #47525e;
  margin: 0 1em 0 0;
  font-size: 2em;
  float: right;
  text-decoration: none;
}

.card__link:hover {
  border-bottom: 1px solid #000;
  color: #000;
}

/* fim secao portifolio */

/* inicio secao contato */

.contato-container {
  padding: 20px 0;
  min-height: 100%;
}

/* fim secao contato */

  @media screen and (max-width: 992px) {
    .skills-container__labels-container__moon {
      margin: auto 15%;
      position: absolute;
      bottom: -77%;
      left: 0;
      width: 70%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .sobre-container__preferencias-container__bloco {
      float: none;
      width: 100%;
    }
  
    .skills-container__labels-container__moon {
      margin: auto 15%;
      position: absolute;
      bottom: -52%;
      left: 0;
      width: 70%;
    }
  }
  
  @media screen and (max-width: 480px) {
    .header__primary--large {
      font-size: 4em;
    }
  
    .header__secondary--large {
      font-size: 3em;
    }
  
    .menu-container__logo {
      display: inline-flex;
      vertical-align: middle;
      text-align: left;
      padding-left: 5px;
      width: 40%; 
    }
  
    .menu-container__botao {
      display: inline-block;
      vertical-align: middle;
      width: 49%;
      text-align: right;
    }
  
    .visivel {
      display: block !important;
    }
  
    .menu-container__menu {
      background-color: #fff;
      margin-top: -5px;
      display: none;
    }
  
    .menu-container__menu__item {
      display: block;
      line-height: 40px;
    }
  
    .skills-container__labels-container__moon {
      margin: auto 5%;
      position: absolute;
      bottom: -37%;
      left: 0;
      width: 90%;
    }
  }