<!-- inicio pré home -->

<header class="prehome" #prehome>

  <!-- inicio itens animação -->

  <div class="prehome__animation-item animation-item-1">
    <fa-icon [icon]="faSpaceShuttle"></fa-icon>
  </div>
  <div class="prehome__animation-item animation-item-2">
    <fa-icon [icon]="faSpaceShuttle"></fa-icon>
  </div>
  <div class="prehome__animation-item animation-item-3">
    <fa-icon [icon]="faSpaceShuttle"></fa-icon>
  </div>
  <div class="prehome__animation-item animation-item-4">
    <fa-icon [icon]="faSpaceShuttle"></fa-icon>
  </div>
  <div class="prehome__animation-item animation-item-5">
    <fa-icon [icon]="faSpaceShuttle"></fa-icon>
  </div>
  <div class="prehome__animation-item animation-item-6">
    <fa-icon [icon]="faSpaceShuttle"></fa-icon>
  </div>

  <!-- fim itens animação -->

  <!-- inicio titulo pre home -->

  <div class="header header--center header--white">
      <h1 class="header__primary header__primary--large">BRUNO AFONSO</h1>
      <div class="header__divisor header__divisor--white"></div>
      <h2 class="header__secondary header__secondary--large">DESENVOLVEDOR WEB</h2>
  </div>

  <!-- fim titulo pre home -->

</header>

<!-- fim pre home -->

<!-- inicio menu -->

<nav class="barra-menu" #menu>
  <div class="menu-container">
      <div class="menu-container__logo">
          <a class="menu-container__logo__link" (click)="smoothScroll($event)" href="#prehome"> 
              <fa-icon [icon]="faCode"></fa-icon>
          </a>
      </div>
      <div class="menu-container__botao">
          <fa-icon [icon]="faAlignRight" (click)="ativarMenu()"></fa-icon>
      </div>
      <ul #menuLinks class="menu-container__menu">
          <li class="menu-container__menu__item">
              <a class="menu-container__menu__item__link" (click)="smoothScroll($event)" href="#sobre">Sobre</a>
          </li>
          <li class="menu-container__menu__item">
              <a class="menu-container__menu__item__link" (click)="smoothScroll($event)" href="#skills">Skills</a>
          </li>
          <li class="menu-container__menu__item">
              <a class="menu-container__menu__item__link" (click)="smoothScroll($event)" href="#portifolio">Portifólio</a>
          </li>
          <li class="menu-container__menu__item">
              <a class="menu-container__menu__item__link" (click)="smoothScroll($event)" href="#contato">Contato</a>
          </li>
      </ul>
  </div>
</nav>

<!-- fim menu -->

<!-- inicio controles -->

<ul class="controls" *ngIf="show">
    <li class="contato" [@mostraEsconde]="state">
        <p>
            Entrar em Contato
        </p>        
        <span (click)="toggleState()">
            <fa-icon [icon]="faCommentAlt"></fa-icon>
        </span>
    </li> 
    <li class="cv" [@mostraEsconde]="state">
        <p>
            Baixar meu Curriculo
        </p>
        <span (click)="toggleState()">
            <a href="assets/Bruno Afonso.pdf" download="CV-BRUNO-AFONSO">
                <fa-icon [icon]="faFileDownload"></fa-icon>
            </a>
        </span>
    </li>
    <li>
        <span (click)="toggleState()">
            <fa-icon [icon]="faPlus"></fa-icon>
        </span>
    </li>
</ul>

<!-- fim controles -->

<!-- inicio seção sobre -->

<div #sobre class="sobre-container">
  <div class="sobre-container__descricao-container">
      <h2 class="header header__secondary--large header__secondary--grey sobre-container__descricao-container__title">
          Sobre Mim
      </h2>
      <div class="header__divisor header__divisor--grey header__divisor--small sobre-container__descricao-container__divisor"></div>
      <img class="sobre-container__descricao-container__avatar" alt="Avatar Astronaut" src="assets/astronaut.svg" />
      <h2 class="header header__secondary--large sobre-container__descricao-container__saudacao">
          Oi, eu sou Goku!
      </h2>
      <p class="sobre-container__descricao-container__bio">
          Brincadeira, meu nome é Bruno Afonso, tenho 23 anos e sou desenvolvedor web freelancer,
          <strong>apaixonado por tecnologia e principalmente por desafios</strong>, você deve estar se perguntando, porque
          um astronauta e não uma foto dele !? Justamente pelo fato de que pra um astronauta o
          <strong>céu não é o limite</strong> e na área de programação eu acredito muito nisso, que não há nada que eu
          não possa fazer, se insistir com muita vontade e persistência, pra isso costumo deixar algumas horas
          de sono de lado em busca da
          <strong>solução perfeita</strong>.
      </p>
  </div>
  <div class="sobre-container__preferencias-container">
      <div class="sobre-container__preferencias-container__bloco">
          <img src="assets/hobbies.svg" alt="hobbies" class="sobre-container__preferencias-container__bloco__icon" />
          <h2 class="header header__secondary--large sobre-container__preferencias-container__bloco__title">
              Hobbies
          </h2>
          <ul class="sobre-container__preferencias-container__bloco__lista">
              <li>Assistir series/animes/filmes e tudo que tenha uma história.</li>
              <li>Jogar os mais variados tipos de jogos.</li>
              <li>Ler artigos interessantes.</li>
              <li>Criar projetos pessoais.</li>
              <li>E por ultimo mas não menos importante Estudar.</li> 
          </ul>
      </div>
      <div class="sobre-container__preferencias-container__bloco">
          <img src="assets/paixoes.svg" alt="paixões" class="sobre-container__preferencias-container__bloco__icon" />
          <h2 class="header header__secondary--large sobre-container__preferencias-container__bloco__title">
              Paixões
          </h2>
          <ul class="sobre-container__preferencias-container__bloco__lista">
              <li>Batman (animações e o Batman com o Christian Bale é claro).</li>
              <li>Liga da Justica (as animações).</li>
              <li>Programação/Tecnologia em geral.</li>
              <li>Me desafiar ao máximo.</li>
              <li>E estudar não é só um hobbie, tenho paixão por isso também.</li>
          </ul> 
      </div>
  </div>
</div>

<!-- fim seção sobre -->

 <!-- inicio seção skills -->

 <div id="skills" #skills class="skills-container">
    <h2 class="header header__secondary header__secondary--large header__secondary--white skills-container__header">
        Minhas Skills
    </h2>
    <div class="header__divisor header__divisor--white header__divisor--small"></div> 
    <div class="container" style="margin-top: 35px;">
        <div class="row">
            <div class="col-md-6 col-sm-12"> 
                <div class="skill">
                    <div class="icon">
                        <fa-icon [icon]="faFileCode"></fa-icon>
                    </div>                    
                    <div class="description">     
                        <h3> Desenvolvimento Front End </h3>
                        <p>Programação de sites e interfaces para sistemas web (bonitas como está) utilizando Html 5, Css 3, Javascript / Typescript / Jquery, 
                            Angular 5 e tudo de mais moderno pra criar experiências incriveis para os usuários.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12"> 
                <div class="skill">
                    <div class="icon">
                        <fa-icon [icon]="faLightbulb"></fa-icon>
                    </div>                    
                    <div class="description">     
                        <h3> Design Thinking </h3>
                        <p>Encontrar a melhor solução para um desafio ou lançar um novo produto no mercado que realmente tenha valor 
                            para o cliente final pode ser muito complicado, mas pra facilitar o processo utilizo o design thinking evitar os erros mais comuns 
                            e validar uma idéia antes mesmo de colocar a mão na massa.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12"> 
                <div class="skill">
                    <div class="icon">
                        <fa-icon [icon]="faMagic"></fa-icon>
                    </div>                    
                    <div class="description">     
                        <h3> Desenvolvimento Back End </h3>
                        <p>Nessa parte que a mágica dos bastidores acontece, todas as funcionalidades do sistema são criadas e configuradas para que 
                            se possa funcionar o cadastro de informações, login de usuários e etc, pra isso conto com algumas ferramentas como C#, Asp.Net, 
                            Entity Framework, Visual Studio e muitas outras.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12"> 
                <div class="skill">
                    <div class="icon">
                        <fa-icon [icon]="faDatabase"></fa-icon>
                    </div>                    
                    <div class="description">     
                        <h3> Modelagem de Dados </h3>
                        <p>De que adianta ter um sistema web ou um site com um visual super maneiro 
                            se quando desligamos o computador as informações são todas perdidas ? pra isso temos o banco de dados onde armazenamos tudo que for relevante
                        para a aplicação e eu busco organizar tudo da melhor forma para que esses dados possam impactar nas tomadas de cisões, fiquem seguros e não interfiram na performance. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- fim seção skills -->